// scss-docs-start color-variables
$black: #000000 !default;
$dark-blue: #0000AA !default;
$dark-green: #00AA00 !default;
$dark-aqua: #00AAAA !default;
$dark-red: #AA0000 !default;
$dark-purple: #AA00AA !default;
$gold: #FFAA00 !default;
$gray: #AAAAAA !default;
$dark-gray: #555555 !default;
$blue: #5555FF !default;
$green: #55FF55 !default;
$aqua: #55FFFF !default;
$red: #FF5555 !default;
$light-purple: #FF55FF !default;
$yellow: #FFFF55 !default;
$white: #FFFFFF !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "black": $black,
  "dark-blue": $dark-blue,
  "dark-green": $dark-green,
  "dark-aqua": $dark-aqua,
  "dark-red": $dark-red,
  "dark-purple": $dark-purple,
  "gold": $gold,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "blue": $blue,
  "green": $green,
  "aqua": $aqua,
  "red": $red,
  "light-purple": $light-purple,
  "yellow": $yellow,
  "white": $white,
  ) !default;
// scss-docs-end colors-map